[submodule "third_party/audio/libopus"]
	path = third_party/audio/libopus
	url = https://github.com/xiph/opus.git
[submodule "third_party/audio/lame"]
	path = third_party/audio/lame
	url = https://github.com/lameproject/lame.git
[submodule "third_party/audio/libogg"]
	path = third_party/audio/libogg
	url = https://github.com/xiph/ogg.git
[submodule "third_party/audio/portaudio"]
	path = third_party/audio/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "third_party/net/kcp"]
	path = third_party/net/kcp
	url = https://github.com/skywind3000/kcp.git
[submodule "third_party/ncnn/upstream"]
	path = third_party/ncnn/upstream
	url = https://github.com/Tencent/ncnn.git
