[submodule "third_party/audio/libopus"]
	path = third_party/audio/libopus
	url = https://github.com/xiph/opus.git
[submodule "third_party/audio/lame"]
	path = third_party/audio/lame
	url = https://github.com/lameproject/lame.git
